#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define MOUSE   4

/* ホールドタップの基本設定 */
&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
};

/ {
    behaviors {
        /* 左親指・中：1タップ(左クリ) / 長押し(Ctrl) / 2タップホールド(ドラッグ) */
        td_ctrl_click: td_ctrl_click {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LCTRL MB1>, <&mkp MB1>;
        };

        /* 左親指・内：1タップ(Tab) / 長押し(Shift) / 2タップ(SYMレイヤー固定) */
        td_inner_thumb: td_inner_thumb {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LSHIFT TAB>, <&tog SYM>;
        };

        /* ホームロウ・モッド */
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        global-quick-tap-ms = <75>;
        /* 言語切り替えコンボ (S+D=英数, K+L=かな) */
        combo_lang_eng { key-positions = <11 12>; bindings = <&kp LANGUAGE_2>; }; 
        combo_lang_jp  { key-positions = <18 19>; bindings = <&kp LANGUAGE_1>; };
        /* 垂直括弧コンボ (E+D, R+F) */
        combo_paren_open  { key-positions = <2 12>; bindings = <&kp LEFT_PARENTHESIS>; timeout-ms = <60>; };
        combo_paren_close { key-positions = <3 13>; bindings = <&kp RIGHT_PARENTHESIS>; timeout-ms = <60>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt ESC Q      &kp W          &kp E          &kp R          &kp T                                                                    &kp Y          &kp U          &kp I          &kp O          &kp P
&hm LCTRL A    &hm LALT S     &hm LSHIFT D   &kp F          &kp G          &mkp RCLK                       &kp ESC          &kp H          &kp J          &hm RSHIFT K   &lt MOUSE L    &mt RCTRL MINUS
&mt LSHIFT Z   &kp X          &kp C          &kp V          &kp B          &mkp MB1                        &kp DEL          &kp N          &kp M          &kp COMMA      &kp DOT        &kp RSHIFT
&none          &none          &lt NUM SPACE  &td_ctrl_click &td_inner_thumb &none                          &kp BACKSPACE    &lt NUM ENTER  &none          &none          &none          &none
            >;
        };

        num_layer {
            bindings = <
&kp SLASH      &kp N7         &kp N8         &kp N9         &kp MINUS                                                                &kp SLASH      &kp F2         &kp UP         &kp F4         &kp PG_UP
&kp STAR       &kp N4         &kp N5         &kp N6         &kp PLUS       &trans                          &trans           &kp ASTERISK   &kp LEFT       &kp DOWN       &kp RIGHT      &kp PG_DN
&trans         &kp N1         &kp N2         &kp N3         &kp PERIOD     &trans                          &trans           &trans         &kp F7         &kp N2         &kp F8         &kp PERIOD
&none          &none          &trans         &trans         &trans         &none                           &trans           &trans         &none          &none          &none          &none
            >;
        };

        sym_layer {
            bindings = <
&kp EXCL       &kp AT         &kp HASH       &kp DLLR       &kp PRCNT                                                                &kp CARET      &kp AMPS       &kp STAR       &kp LPAR       &kp RPAR
&kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &trans                          &trans           &kp F6         &kp F7         &kp F8         &kp F9         &kp F10
&kp F11        &kp F12        &kp UNDER      &kp PIPE       &kp TILD       &trans                          &trans           &kp LBRC       &kp RBRC       &kp LT         &kp GT         &kp QMARK
&none          &none          &trans         &trans         &trans         &none                           &trans           &trans         &none          &none          &none          &none
            >;
        };

        mouse_layer {
            bindings = <
&bt BT_CLR     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3                                                             &trans         &trans         &trans         &trans         &trans
&trans         &trans         &trans         &trans         &trans         &trans                          &trans           &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP   &mmv MOVE_RIGHT &trans
&trans         &trans         &trans         &trans         &trans         &trans                          &trans           &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP   &msc SCRL_RIGHT &trans
&none          &none          &trans         &trans         &trans         &none                           &trans           &trans         &none          &none          &none          &none
            >;
        };
    };
};
