#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        mb2_combo {
            bindings = <&mkp MB2>;
            key-positions = <19 18>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo &to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc &msc>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q &kp W &kp E &kp R &kp T            &kp Y &lt 5 U &lt 5 I &lt 5 O &mt RIGHT_SHIFT P
&kp A &lt 4 S &kp D &kp F &lt 8 G &kp LEFT_SHIFT &kp AT &kp H &kp J &lt 4 K &lt 4 L &lt 3 MINUS
&mt LEFT_SHIFT Z &kp X &kp C &kp V &kp B &lt_to_layer_0 TAB 6 &mt RIGHT_ALT COLON &mt RIGHT_GUI N &mt RIGHT_CONTROL M &lt 2 COMMA &kp PERIOD &kp PLUS
&kp LCTRL &kp LEFT_WIN &kp LEFT_ALT &lt 3 SPACE &mkp MB1 &lt 2 LC(SPACE) &kp BACKSPACE &lt 1 ENTER &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        SCROLL {
            bindings = <
&trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };
    };
};
